node_modules/
.DS_Store
temp/
/data.txt
/test.html
*.temp.json
*.temp.html
.cached/
/emails.txt
/hourly-emails.txt
/log.txt
/data.txt
/test.html
client_secret_.apps.googleusercontent.com.json
gmail-nodejs-quickstart.json
dist/

